@charset "utf-8";

html{
    background: url("../images/background.png") no-repeat #E51143;
    background-size: cover;
}
body{
    font-family: 'Playfair Display', serif;
    color: white;
}
/*Navigation*/
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    transition: all .8s;
}
nav:hover a{
    color: black;
    transition: all .8s;
}
#nav{
    text-align: center;
}
nav{
    background-color:  rgba(0, 0, 0, 0.678);
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    border: double #B58500;
    transition: all .8s;
}
nav:hover{
    background-color: rgba(181, 133, 0, 0.678);
    color: black;
    border: double 3px black;
    transition: all .8s;
}
#logo{
    border: double #B58500;
    background-color: rgba(0, 0, 0, 0.678);
}
#title{
    text-align: center;
    font-size: 1.5em;
    padding-top: auto;
    padding-bottom: auto;
    border: double #B58500;
    background:rgba(0, 0, 0, 0.678);
}
#main{
    padding-top: 15px;
    padding-bottom: 25px;
}
/*Items*/
#products{
    background: url("../images/borderC.png") no-repeat rgba(0, 0, 0, 0.678);
    background-size: 35%;
    border: double 7px #B58500 ;
    text-align: center;
    height: 500px;
    overflow: auto;
}
/*Item details*/
#dish{
    padding-top: 45px;
}
#cost{
    text-align: center;
    font-size: 50px;
}
#dishDesc{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.678);
    border: double 7px #B58500;
    border-radius: 15%;
    height: 400px;
    width: 500px;
}
#desc{
    font-size: 25px;
}
#food{
    border: double 7px #B58500;
    border-radius: 15%;
    background: rgba(0, 0, 0, 0.678);
}
#img{
    padding-left: 15%;
}
/*Footer*/
footer{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.479);
}
/*Formating*/
div{
    display: block;
    box-sizing: border-box;
}
div.row{
    clear: both;
}
.col-1-2{
    float: left;
    width: 50%;
}
.col-1-9{
    float: left;
    width: 11.1%;
    height: 5%;
}
.col-1-5{
    float: left;
    width: 20%;
}
.col-1-5{
    float: left;
    width: 20%;
}
.col-4-5{
    float: left;
    width: 80%;
}
.col-4-5{
    float: left;
    width: 80%;
}
.col-1-3{
    float: left;
    width: 33.3%
}